body {
  padding-bottom: 65px;
}

.pointer {
  cursor: pointer;
}

.fix-bottom {
  margin-bottom: 20px;
}

.main-console{
  background-color: #e6e6e6;
  border-radius: .25rem;
}

.console-options {
  margin: 0;
  padding: 4px;
  margin-bottom: 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
}

.console {
  background-color: #e6e6e6;
  border-radius: 4px;
  height: 250px;
  width: 100%;
  overflow: auto;
  text-align: left;
  padding-left: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.console p {
  margin: 7px !important;
}
