<h1 class="display-4 text-center">Settings</h1>
<hr>
<div class="row">
  <div class="col-xl fix-bottom">
    <h4>Logfiles <span (click)="getAllLogFiles()"><i class="fas fa-sync pointer" aria-hidden="true"></i></span></h4>
    <p>Here is a list of all logfiles of recent prints, listed from new-old</p>
    <div id="accordion" role="tablist" *ngFor="let logfile of logfiles | newtoold" style="margin-bottom: .2em;">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#{{ logfile.id }}" aria-expanded="true" attr.aria-controls="{{ logfile.id }}" (click)="loadLogFile(logfile.filename)">
              {{ logfile.filename }}
            </a>
            <span (click)="deleteLogFile(logfile.filename)"><i class="fas fa-trash float-right pointer" aria-hidden="true" ></i></span>
          </h5>
        </div>
        <div id="{{ logfile.id }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="load" *ngIf="!logfiletext">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <pre *ngIf="logfiletext">{{ logfiletext }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl fix-bottom">
    <!-- Comport -->
    <h4>Change serial ports <span (click)="getSettings()"><i class="fas fa-sync pointer" aria-hidden="true"></i></span></h4>
    <hr>
    <h5>GRBL Port</h5>
    <div class="form-group row" style="margin-top: 1em;">
      <label for="comportChange1" class="col-lg col-form-label">
        <h6>GRBL connected on <strong>{{ connectedPortGRBL }}</strong></h6>
      </label>
      <div class="col">
        <div class="input-group mb-3">
          <select ngControl="type" #GRBLserialportinput class="custom-select" id="comportChange1">
            <option *ngFor="let comPort of comPorts" [value]="comPort" >{{ comPort }}</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text pointer" for="comportChange1" (click)="changeSerialPort('grbl', GRBLserialportinput.value)">Change Port</label>
          </div>
        </div>
      </div>
    </div>

    <h5>LCD Port</h5>
    <div class="form-group row" style="margin-top: 1em;">
      <label for="comportChange2" class="col-lg col-form-label">
        <h6>LCD connected on <strong>{{ connectedPortLCD }}</strong></h6>
      </label>
      <div class="col">
        <div class="input-group mb-3">
          <select ngControl="type" #LCDserialportinput class="custom-select" id="comportChange2">
            <option *ngFor="let comPort of comPorts" [value]="comPort" >{{ comPort }}</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text pointer" for="comportChange2" (click)="changeSerialPort('lcd', LCDserialportinput.value)">Change Port</label>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Custom Commands to Raspberry Pi -->
    <h4>Custom Commands for Raspberry Pi</h4>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="main-console">
          <pre class="console">
              <p *ngFor="let message of messages"><span [ngStyle]="{'color': message.color}">{{ message.message }}</span></p>
          </pre>
          <div class="console-options">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="commadInput" #line (keyup.enter)="sendCommand(line.value)" placeholder="Command" aria-label="Command">
              <div class="input-group-append">
                <span class="input-group-text btn pointer" (click)="sendCommand(line.value)">Send</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <button type="button" class="btn btn-danger btn-block" (click)="sendCommand('sudo shutdown now')">Shutdown</button>
          <hr>
        <button type="button" class="btn btn-success btn-block" (click)="sendCommand('sudo reboot')">Restart</button>
          <hr>
        <button type="button" class="btn btn-info btn-block" (click)="sendCommand('sudo service hambot restart')">Restart Website</button>
          <hr>
        <button type="button" class="btn btn-info btn-block" (click)="sendCommand('sudo service motion restart')">Restart Videostream</button>
      </div>
    </div>

  </div>
</div>
