<div class="row">
  <!-- Status tab -->
  <div class="col-lg-3 tabcontent" *ngIf="tabStatus">
    <div class="card">
      <h4 class="card-header">Status</h4>
      <div class="card-body">
        <h5 class="card-title">Status: {{ status_machine }}
          <ng-template #machineState>
            'Hold:0' Hold complete. Ready to resume. <br>
            'Hold:1' Hold in-progress. Reset will throw an alarm. <br>
            'Door:0' Door closed. Ready to resume. <br>
            'Door:1' Machine stopped. Door still ajar. Can't resume until closed. <br>
            'Door:2' Door opened. Hold (or parking retract) in-progress. Reset will throw an alarm. <br>
            'Door:3' Door closed and resuming. Restoring from park, if applicable. Reset will throw an alarm.
          </ng-template>
          <span class="pointer" [ngbPopover]="machineState" popoverTitle="Machine State" placement="bottom" triggers="mouseenter:mouseleave"><i class="fas fa-info-circle"></i></span>
        </h5>
        <hr>
        <div class="row">
          <div class="col col-xl">
            <strong>Coordinates</strong>
            <div class="position">X: {{ coorX }}</div>
            <div class="position">Y: {{ coorY }}</div>
            <strong>Feedrate</strong>
            <div class="position">F: {{ feed_rate }}</div>
          </div>
        </div>
        <hr>

          File:          <strong>{{ printer_printingFile }}</strong><br/>
          Approx. Time:  <strong>{{ grbl_approxTime | formatTime }}</strong><br/>
          Time Passed:   <strong>{{ grbl_timePassed| formatTime  }}</strong><br/>
          Time Left:     <strong>{{ grbl_timeLeft| formatTime  }}</strong>

        <hr>

        <div class="text-center">Progress: {{ grbl_progress }}%</div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': grbl_progress + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <hr>

        <!-- Stepsize -->
        <div class="row" style="margin-bottom: 1em;">
          <div class="col">
            <strong>Step Size: </strong>
          </div>
          <div class="col-8">
            <select class="form-control form-control-sm" ngControl="type" #stepsizeinput>
              <option *ngFor="let stepsize of stepsizes" [value]="stepsize" >{{ stepsize }}</option>
            </select>
          </div>
        </div>

        <!-- Buttons X+ X- Y+ Y- -->
        <div class="row" style="margin-bottom: .5em;">
          <div class="col"></div>
          <div class="col"><button type="button" class="btn btn-primary custom-button" (click)="sendGcode('G91 G0 Y'+ stepsizeinput.value)" title="Move the current position to Y+ with the selected step size" [disabled]="!user">Y+</button></div>
          <div class="col"></div>
        </div>
        <div class="row" style="margin-bottom: .5em;">
          <div class="col-2"></div>
          <div class="col-4">
            <button type="button" class="btn btn-primary custom-button" (click)="sendGcode('G91 G0 X-'+ stepsizeinput.value)" title="Move the current position to X- with the selected step size" [disabled]="!user">X-</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary custom-button" (click)="sendGcode('G91 G0 X'+ stepsizeinput.value)" title="Move the current position to X+ with the selected step size" [disabled]="!user">X+</button>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"><button type="button" class="btn btn-primary custom-button" (click)="sendGcode('G91 G0 Y-'+ stepsizeinput.value)" title="Move the current position to Y- with the selected step size" [disabled]="!user">Y-</button></div>
          <div class="col"></div>
        </div>
        <hr>
        <div class="row" >
          <div class="col">
            <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('M3 S0')" [disabled]="!user">Pen Up</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('M3 S255')" [disabled]="!user">Pen Down</button>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- col-lg-3 end -->


  <!-- Webcam + Console & Commandline-->
  <div class="col-lg-9">
    <div class="row">

      <!-- Webcam + Console-->
      <div class="col-xl-8 tabcontent" *ngIf="tabWebcam_Console">
        <!-- Webcam -->
        <div class="webcam" id="webcam-tab">
          <div class="embed-responsive embed-responsive-16by9">
            <img class="embed-responsive-item" src="{{ streamAdress }}">
          </div>
        </div>
        <!-- Console -->
        <div class="main-console">
          <pre class="console">
              <p *ngFor="let message of messages"><span [ngStyle]="{'color': message.color}">{{ message.message }}</span></p>
          </pre>
          <div class="console-options">
            <button type="button" class="btn btn-primary btn-sm console-clearbutton" (click)="clearConsole()">Clear</button>
          </div>
        </div>
      </div> <!-- col-lg-8 end -->


      <!-- Commandline -->
      <div class="col-xl-4 tabcontent" *ngIf="tabCommandline">
        <div class="card">
          <h4 class="card-header">Commandline</h4>
          <div class="card-body">

            <!-- Button Shortcuts @Commandline -->
            <div class="row" style="margin-bottom: 1em;">
              <div class="col">
                 <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('$')" title="Send 'Help' to GRBL to get a short helpmessage" [disabled]="!user">Help ($)</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('$$')" title="Get a response of current settings" [disabled]="!user">Settings ($$)</button>
              </div>
              <div class="w-100" style="margin-bottom: 1em;"></div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('?')" title="Get a response of current status" [disabled]="!user">Status (?)</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-block" (click)="softReset()" title="Make a soft reset on GRBL" [disabled]="!user">Soft Reset</button>
              </div>
              <div class="w-100" style="margin-bottom: 1em;"></div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('!')" title="Stop the machine" [disabled]="!user">Feed Hold (!)</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-block" (click)="sendGcode('~')" title="Resume the machine" [disabled]="!user">Resume (~)</button>
              </div>
            </div>


            <!-- Input @Commandline for GRBL -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text btn"  data-toggle="modal" data-target="#availableCommands"><i class="fas fa-terminal"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="gcodeInput" #line (keyup.enter)="sendGcode(line.value)" placeholder="Command" [disabled]="!user">
              <div class="input-group-append">
                <span class="input-group-text btn" (click)="sendGcode(line.value)">Send</span>
              </div>
            </div>

            <!-- Files Area -->
            <div class="card">
              <div class="card-header"><b>Files</b></div>
              <div style="padding: 10px;">
                <!-- Searchbox -->
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Search..." #searchInput>
                  </div>
                </div>
                <!-- Starting with those files -->
                <div class="gcode-files">
                  <div class="gcode-file-item" *ngFor="let file of files | searchFilter : searchInput.value">
                    <div class="text-primary" style="padding-bottom: 5px;"><b>{{ file.filename }}</b></div>
                    <div class="row">
                      <div class="col text-muted"><small>Created: {{ file.created | date: 'dd.MM.yyyy' }}</small></div>
                      <div class="col-5">
                        <div class="btn-group btn-group-sm float-right" role="group" style="padding-bottom: 5px;">
                          <button type="button" class="btn btn-secondary" (click)="downloadFile(file.filename)" title="Download"><i class="fas fa-download"></i></button>
                          <button type="button" class="btn btn-secondary" (click)="deleteFile(file.filename)" title="Delete" [disabled]="!user"><i class="fas fa-trash"></i></button>
                          <button type="button" class="btn btn-secondary" (click)="editFile(file.filename)" title="Edit" [disabled]="!user"><i class="fas fa-edit"></i></button>
                          <button type="button" class="btn btn-secondary" (click)="printFile(file.filename)" title="Print" [disabled]="!user"><i class="fas fa-print"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br>

            <!-- File Upload -->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-upload"></i></span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input pointer" id="fileupload" #inputFile (change)="uploadFile()" name="uploads[]" multiple="multiple">
                <label class="custom-file-label pointer" for="fileupload">Choose a File ...</label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal for Input @Commandline (Available Commands)-->
      <div class="modal fade" id="availableCommands" tabindex="-1" role="dialog" aria-labelledby="commandsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="commandsLabel">Available Commands</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <!-- $Nx=line $J=line -->
              <p>
                $$ and $x=val - View and write Grbl settings <br>
                $# - View gcode parameters <br>
                $I - View build info <br>
                $G - View gcode parser state <br>
                $N - View startup blocks <br>
                $C - Check gcode mode <br>
                $X - Kill alarm lock <br>
                $H - Run homing cycle <br>
                $SLP - Enable Sleep Mode
              </p>
            </div>
            <!-- Yet another input for commands -->
             <div class="card-footer">
              <div class="input-group">
                <input type="text" class="form-control" #line2 placeholder="Command" (keyup.enter)="sendGcode(line2.value)">
                <div class="input-group-append">
                  <span class="input-group-text btn pointer" (click)="sendGcode(line2.value)">Send</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- Modal end-->

    </div>  <!-- row end-->

  </div> <!-- col-lg-9 end -->
</div>  <!-- main row end -->


<!-- Navbar for mobile users @bottom -->
<nav class="navbar fixed-bottom navbar-dark bg-primary mobile-only">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item"><a href="javascript:0" (click)="changeTab('status')" class="nav-link"><i style="color:#fff;" class="fas fa-cogs fa-2x"></i></a></li>
    <li class="nav-item"><a href="javascript:0" (click)="changeTab('webcam_console')" class="nav-link"><i style="color:#fff;" class="fas fa-camera fa-2x"></i></a></li>
    <li class="nav-item"><a href="javascript:0" (click)="changeTab('commandline')" class="nav-link"><i style="color:#fff;" class="fas fa-terminal fa-2x"></i></a></li>
  </ul>
</nav>
