body {
  padding-bottom: 65px;
}

.console-clearbutton {
  float: right;
}

.main-console{
  background-color: #e6e6e6;
  border-radius: .25rem;
}

.console-options {
  margin: 0;
  padding: 4px;
  height: 40px;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
}

.custom-button {
  width: 100%;
}

.position {
  text-align: center;
  margin: 4px 0 4px 0;
  font-size: 25px;
  width: 100%;
  border: 1px solid #aaa;
  font-weight: bold;
  border-radius: .15rem;
}

.console {
  background-color: #e6e6e6;
  border-radius: 4px;
  height: 362px;
  width: 100%;
  overflow: auto;
  text-align: left;
  padding-left: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.console p {
  margin: 7px !important;
}

.webcam {
  margin-bottom: 1em;
}

.gcode-files {
  height: 319px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.gcode-file-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.pointer {
  cursor: pointer;
}


.tabcontent {
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
  margin-bottom: 1em
}

.mobile-only {
  display: block;
  padding: 2px !important;
}

@media screen and (max-width:768px) {
  .tabcontent {
      margin-bottom: 4em;
  }
}


@media screen and (min-width:768px) {
  .tabcontent {
    display: block;
    -webkit-animation: none;
    animation: none;

  }
  .mobile-only {
    display: none;
  }
}


@-webkit-keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}
