@media (min-width: 1200px) {
  .container {
  	max-width: 1450px;
  }
}

.customFont {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 600;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
}

.mobile-only {
  display: block;
}


@media screen and (min-width:768px) {
  .tabcontent {
    display: block;
    -webkit-animation: none;
    animation: none;
  }
  .mobile-only {
    display: none;
  }
}

@-webkit-keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}
