<!-- Navbar for not loged in user -->
<section *ngIf="!user">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">HAM-Bot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <form class="form-inline" (submit)="onLoginSubmit()">
            <input class="form-control mr-sm-2" type="text" [(ngModel)]="username" name="username" placeholder="Username">
            <input class="form-control mr-sm-2" type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <button type="submit" class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Sign In</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
<br>
</section>

<!-- Navbar for loged in user -->
<section *ngIf="user">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">HAM-Bot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle customFont" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Logged in as {{ user }}
          </a>
          <div class="dropdown-menu" aria-labelledby="Dropdown with more options">
            <a class="dropdown-item" [routerLink]="['/userdb']"><i class="fas fa-users"></i> UserDB</a>
            <a class="dropdown-item" [routerLink]="['/settings']"><i class="fas fa-cogs"></i> Settings</a>
            <a class="dropdown-item" (click)="logout()" href=""><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<section>
