<h1 class="display-4 text-center">UserDB</h1>
<hr>
<div class="row">
  <div class="col-lg">
    <h4 class="text-center">Register a new User</h4>
    <hr>
      <div class="form-group row">
        <label for="Username" class="col-md-2 col-form-label">Username</label>
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="Username" [(ngModel)]="username" (keyup.enter)="onRegisterSubmit()" name="username" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="Password" class="col-md-2 col-form-label">Password</label>
        <div class="col-md-10">
          <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="onRegisterSubmit()" name="password" required>
        </div>
      </div>
      <button class="btn btn-primary btn-block" (click)="onRegisterSubmit()">Send</button>
    <hr>
    <h5 class="text-center">A registered user has full access to the machine</h5>
    <hr>
  </div> <!-- col end -->
  <div class="col-lg">
    <h4 class="text-center">Registered Users</h4>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Created on</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.created | date: "dd.MM.yyyy HH:mm:ss" }}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="User">
              <button type="button" class="btn btn-secondary" (click)="editUser(user.dbId, user.username)">
                <i class="fas fa-edit" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-secondary" (click)="deleteUser(user.dbId, user.username)">
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- col end -->
</div><!-- row end -->
