/* You can add global styles to this file, and also import other style files */


/* Better Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Wider Container*/
@media (min-width: 1400px) {
  .container {
  	max-width: 1450px;
  }
}

.load{margin: 100px auto;width: 100px; height: 82px}
.bar{
  background: #99aaca;
  border: 1px solid #96a6c9;
  float: left;
  margin-right: 9px;
  margin-top: 6px;
  width: 10px;
  height: 58px;

  -webkit-animation: loading 1s steps(3, end) infinite;
-moz-animation: loading 1s steps(3, end) infinite;
-ms-animation: loading 1s steps(3, end) infinite;
  }
.load .bar:nth-child(2){-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
-ms-animation-delay: 0.1s;
-o-animation-delay: 0.1s;
animation-delay: 0.1s;}
.load .bar:nth-child(3){-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
-ms-animation-delay: 0.2s;
-o-animation-delay: 0.2s;
animation-delay: 0.2s;}
@-webkit-keyframes loading{
0%{}
10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
40%{margin-top:8px; height:54px;}

}
@-moz-keyframes loading{
0%{}
10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
40%{margin-top:8px; height:54px;}

}
@-ms-keyframes loading{
0%{}
10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
40%{margin-top:8px; height:54px;}

}
@keyframes loading{
0%{}
10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
40%{margin-top:8px; height:54px;}

}
