body {
  padding-bottom: 65px;
}

.custom-dropdown {
  padding: 15px 10px 15px 10px;
}

@media screen and (min-width:768px) {
  .custom-dropdown {
    width: 230px;
  }
}

.position {
  text-align: center;
  margin: 4px 0 4px 0;
  font-size: 25px;
  width: 100%;
  border: 1px solid #aaa;
  font-weight: bold;
  border-radius: .15rem;
}

.console {
  background-color: #e6e6e6;
  border-radius: 4px;
  height: 300px;
  width: 100%;
  overflow: auto;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.console p {
  margin: 5px !important;
}

.webcam {
  margin-bottom: 1em;
}

.command {
  height: 450px;
  width: 100%;
  overflow: auto;
}

.gcode-files {
  height: 257px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.gcode-file-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
  	max-width: 1450px;
  }
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
}

.mobile-only {
  display: block;
}


@media screen and (min-width:768px) {
  .tabcontent {
    display: block;
    -webkit-animation: none;
    animation: none;
  }
  .mobile-only {
    display: none;
  }
}


@-webkit-keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
